<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR MENU -->
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <!--<i class="icon-home"></i>-->
                    <span class="title">主题</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="__APP__/Admin/Index/index" class="nav-link ">
                            <span class="title">添加主题</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="__APP__/Admin/Index/themeViewer" class="nav-link ">
                            <span class="title">主题列表</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <!--<i class="icon-home"></i>-->
                    <span class="title">特色店</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="__APP__/Admin/Shop/index" class="nav-link ">
                            <span class="title">添加商店</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="__APP__/Admin/Shop/shopViewer" class="nav-link ">
                            <span class="title">商店列表</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <!--<i class="icon-home"></i>-->
                    <span class="title">商品</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="__APP__/Admin/Goods/index" class="nav-link ">
                            <span class="title">添加商品</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="__APP__/Admin/Goods/goodsViewer" class="nav-link ">
                            <span class="title">商品列表</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <!--<i class="icon-home"></i>-->
                    <span class="title">用户</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="__APP__/Admin/Users/index" class="nav-link ">
                            <span class="title">用户列表</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <!--<i class="icon-home"></i>-->
                    <span class="title">评论</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="__APP__/Admin/Comment/commentViewer" class="nav-link ">
                            <span class="title">评论列表</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <!--<i class="icon-home"></i>-->
                    <span class="title">接口</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a target="_blank" href="https://note.youdao.com/group/#/29992309/(full:collab/122414135)?noPush=true" class="nav-link">
                            <span class="title">查看接口</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- END SIDEBAR MENU -->
</div>