<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="font-size: 17px;" href="__APP__/Admin/Index">吃喝玩乐APP后台管理系统</a>
        </div>
        <div>
            <ul class="nav navbar-nav" style="font-size: 17px;padding-left: 3%;" height="100%">
                <li><a href="__APP__/admin/index/themeViewer">主题</a></li>
                <li><a href="__APP__/admin/Shop/shopViewer">特色店</a></li>
                <li><a href="__APP__/admin/Goods/goodsViewer">商品</a></li>
                <li><a href="__APP__/admin/Users/index">用户</a></li>
                <li><a href="__APP__/admin/Comment/commentViewer">评论</a></li>
            </ul>
            <!--<p height="50px" class="navbar-text navbar-right fix">
                欢迎你，<b>管理员</b>&nbsp;&nbsp;&nbsp;
                <a href="__APP__/admin/Users/changePwd">修改密码</a> /
                <a href="__APP__/admin/logout">退出</a>
            </p>-->
            <ul class="nav navbar-nav navbar-right" style="padding-right: 1%;">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 17px;"><b>管理员</b>
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="__APP__/admin/Users/changePwd"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;修改密码</a></li>
                        <li><a href="__APP__/admin/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>