<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo" style="width: 300px;">
            <!--<a href="index.html">
                <img src="__PUBLIC__/metronic/layouts/layout4/img/logo-light.png" alt="logo" class="logo-default" />
            </a>-->
            <a class="navbar-brand logo-fix" href="__APP__/Admin/Index">吃喝玩乐APP后台管理系统</a>
            <div class="menu-toggler sidebar-toggler"></div>
        </div>
        <!-- END LOGO -->

        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user dropdown-light">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-on-mobile"> Admin </span>
                            <img alt="" class="img-circle" src="__PUBLIC__/metronic/layouts/layout4/img/avatar9.jpg" /> </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="__APP__/admin/Users/changePwd">
                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;修改密码</a>
                            </li>
                            <li>
                                <a href="__APP__/admin/logout">
                                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;退出</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>