.navbar-default{
    margin-bottom: 0px;
}

.line5{
    height: 5px;
}

.line10{
    height: 10px;
}

.line30{
    height: 30px;
}

nav.navbar.navbar-default{
    height: 51px;
}

.row2{
    height: 500px;
}

.left{
    border-right: 1px solid #ddd;
    height: 100%;
}

.right{
    height: 100%;
}

.fix{
    /*padding-bottom: 1%;*/
    padding-right: 10px;
    font-size: 17px;
}

.input-text-fix{
    height:30px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    padding-left: 10px;
}

.navbar-text {
    margin-top: 13px;
    margin-bottom: 15px;
}
