<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>吃喝玩乐后台管理系统</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/index-index.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap-fileinput/4.3.1/css/fileinput.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var url="__URL__";
        var public="__PUBLIC__";
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/editGoods.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.1/js/fileinput.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.1/js/fileinput_locale_zh.js"></script>
</head>
<body>
<!-- 导航条 -->
<div><include file="Public/navi-top"/></div>
<!-- 导航条end -->
<div class="line10"></div>
<div class="container">
    <!-- 后面内容区 -->
    <div class="row row2">

        <div class="col-md-2 col-sm-2 col-xs-2 left">
            <div class="list-group">
                <a href="__APP__/admin/Goods/index" class="list-group-item ">添加商品</a>
                <a href="__APP__/admin/Goods/goodsViewer" class="list-group-item ">查看商品</a>
            </div>
        </div>

        <div class="col-md-10 col-sm-10 col-xs-10 right">
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-md-7 col-sm-7 col-xs-7" style="text-align: left;">
                    <p class="text-left">修改商品信息</p>
                    <form role="form" id="goodsForm" method="post" action="__URL__/editGoods" enctype="multipart/form-data">
                        <input type="hidden" name="goods_id" value="{$GoodsInfo.item_id}"/>
                        <div class="form-group">
                            <label for="goods_name">商品名称</label>
                            <div class="input-text-fix" style="width:85%;">
                                <input id="goods_name" type="text" name="goods_name" class="form-control" key="{$GoodsInfo.item_name}" value="{$GoodsInfo.item_name}">
                            </div>
                            <p class="text-danger" id="goodsErrMsg" style="padding-top: 2%; text-align: center;"></p>
                        </div>
                        <div class="form-group">
                            <label for="desc">商品简介</label>
                            <div class="input-text-fix" style="width:85%;">
                                <input id="desc" type="text" name="desc" class="form-control" value="{$GoodsInfo.desc}">
                            </div>
                        </div>
                        <div class="form-group" style="padding-top: 2%;">
                            <label for="price">商品价格</label>
                            <div class="input-text-fix" style="width:85%;">
                                <input id="price" type="text" name="price" class="form-control" value="{$GoodsInfo.price}" />
                            </div>
                        </div>

                        <input id="shop_id" type="hidden" name="shop_id" class="form-control" value="{$GoodsInfo.shop_id}"/>

                        <!--<div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">上传主题图片</button>
                        </div>-->
                        <input type="hidden" name="old_item_photo_url" value="{$GoodsInfo.old_item_photo_url}"/>
                        <div class="form-group" style="padding-top: 2%;">
                            <label for="goods_photo">商品图片</label>
                            <div style="display: inline-block; padding-left: 10px;">
                                <img id="goods_photo" height="100px" width="100px" src="{$GoodsInfo.item_photo_url}" alt="缩略图" />
                            </div>
                            <button type="button" class="btn btn-primary" style="margin-left: 10px;" data-toggle="modal" data-target="#myModal">更改图片</button>
                            <!--<input type="file" name="theme_photo_url" id="theme_photo_url" multiple class="file-loading" />-->
                        </div>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary">更改</button>&nbsp;&nbsp;&nbsp;

                        </div>
                    </form>
                    <form>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">请选择图片文件，支持：jpg,jpeg,png,gif</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input type="file" name="goods_photo_url" id="goods_photo_url" multiple class="file-loading" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4"></div>
            </div>
        </div>
    </div>
    <!-- 后面内容区end -->
</div>
</body>
</html>