<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>吃喝玩乐后台管理系统</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES / Metronic 模板必须包含的全局 css 部分。-->
    <!--字体图标-->
    <link href="__PUBLIC__/metronic/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="__PUBLIC__/metronic/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
          type="text/css"/>
    <!--字体图标end-->
    <link href="__PUBLIC__/metronic/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES 全局主题样式-->
    <link href="__PUBLIC__/metronic/global/css/components.min.css" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="__PUBLIC__/metronic/global/css/plugins.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES 主题布局样式-->
    <link href="__PUBLIC__/metronic/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/metronic/layouts/layout4/css/themes/light.min.css" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="__PUBLIC__/metronic/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->
    <link href="__PUBLIC__/css/index-index.css" rel="stylesheet">
    <link href="__PUBLIC__/zoomify/zoomify.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/pages.css" rel="stylesheet">
    <link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css"/>
    <!--网站小图标-->
    <!--<link rel="shortcut icon" href="favicon.ico" />-->
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
	<!-- BEGIN HEADER -->
    <include file="Public/top"/>
    <!-- END HEADER -->

	<!-- BEGIN HEADER & CONTENT DIVIDER -->
	<div class="clearfix"></div>
	<!-- END HEADER & CONTENT DIVIDER -->

	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
        <include file="Public/left"/>
		<!-- END SIDEBAR -->

		<!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>用户列表</h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                    <!-- END PAGE HEAD-->

                    <div class="line5"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                            <form style="padding-right: 60%;" method="get" action="__URL__/index">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="searchCondition" value="{$searchCondition}" placeholder="输入用户名">
                                    <input type="hidden" name="isSearch" value="y"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">搜索</button>
                                    </span>
                                </div>
                            </form>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <td style="display:table-cell; vertical-align:middle">账号</td>
                                    <td style="display:table-cell; vertical-align:middle">头像</td>
                                    <td style="display:table-cell; vertical-align:middle">签名</td>
                                    <td style="display:table-cell; vertical-align:middle">昵称</td>
                                    <td style="display:table-cell; vertical-align:middle">所属人群</td>
                                    <td style="display:table-cell; vertical-align:middle">手机</td>
                                    <td style="display:table-cell; vertical-align:middle">性别</td>
                                    <td style="display:table-cell; vertical-align:middle">添加时间</td>
                                    <td style="display:table-cell; vertical-align:middle">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="userList" id="ulist" empty="暂时没有数据">
                                    <tr>
                                        <td style="display:table-cell; vertical-align:middle">{$ulist.user_account}</td>
                                        <td style="display:table-cell; vertical-align:middle">
                                            <img class="zoomify" width="30px" height="30px" src="{$ulist.user_photo_url}" alt="缩略图">
                                        </td>
                                        <td style="display:table-cell; vertical-align:middle">{$ulist.signature}</td>
                                        <td style="display:table-cell; vertical-align:middle">{$ulist.nick_name}</td>
                                        <td style="display:table-cell; vertical-align:middle">{$ulist.person_group}</td>
                                        <td style="display:table-cell; vertical-align:middle">{$ulist.phone}</td>
                                        <td style="display:table-cell; vertical-align:middle">{$ulist.sex}</td>
                                        <td style="display:table-cell; vertical-align:middle">{$ulist.addtime}</td>
                                        <td style="display:table-cell; vertical-align:middle">
                                            <a class="btn btn-primary" href="__URL__/editUser?userId={$ulist.user_id}">修改</a>
                                            <a class="btn btn-danger" href="javascript:dodel({$ulist.user_id})">删除</a>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="9">{$page}</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
		<!-- END CONTAINER -->

		<!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner">
                2017 &copy; 技术支持&nbsp;&nbsp;alanlam#163.com.
            </div>
            <!-- back to top-->
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/metronic/global/plugins/respond.min.js"></script>
    <script src="__PUBLIC__/metronic/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS / Metronic 所用到的插件和资源-->
    <script src="__PUBLIC__/js/jquery.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/metronic/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/metronic/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/metronic/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
            type="text/javascript"></script>
    <script src="__PUBLIC__/metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
            type="text/javascript"></script>
    <script src="__PUBLIC__/metronic/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="__PUBLIC__/metronic/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->

    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="__PUBLIC__/metronic/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

    <script src="__PUBLIC__/js/index-index.js"></script>
    <script src="__PUBLIC__/zoomify/zoomify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('img.zoomify').zoomify();
        });

        function dodel(uid){
            if(confirm("确定要删除吗？")){
                window.location='__URL__/delUser?userId=' + uid;
            }
        }
    </script>
</body>
</html>